<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[${webTitle}]] - 后台管理</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/admin/assets/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/static/admin/assets//fonts/line-icons.css}">

    <link rel="stylesheet" th:href="@{/static/admin/assets/plugins/morris/morris.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/static/admin/assets/css/main.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/static/admin/assets/css/responsive.css}">

    <link rel="stylesheet" th:href="@{/static/admin/assets/plugins/morris/morris.css}">


    <link th:href="@{/static/admin/assets/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/static/admin/assets/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/static/admin/assets/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>

</head>
</html>