<%@ page language="java" import="java.util.*" pageEncoding="UTF-8" %>
<div class="header navbar">
    <div class="header-container">
        <div class="nav-logo">
            <a href="/admin/goods/homeGoods">
                <b><img src="/admin/assets/img/logo.png" alt=""></b>
                <span class="logo">
                    <img src="/admin/assets/img/logo-text.png" alt="">
                </span>
            </a>
        </div>
        <c:set var="currentUrl" value="<%=currentUrl%>"/>
        <c:if test="${!(currentUrl.equals('/goods/homeGoods') || currentUrl.contains('/goods/goodsId') || currentUrl.contains('/goods/search'))}">
            <ul class="nav-left">
                <li>
                    <a class="sidenav-fold-toggler" href="javascript:void(0);">
                        <i class="lni-menu"></i>
                    </a>
                    <a class="sidenav-expand-toggler" href="javascript:void(0);">
                        <i class="lni-menu"></i>
                    </a>
                </li>
            </ul>
        </c:if>
        <ul class="nav-right">
            <li class="search-box">
                <form action="/admin/goods/search" id="search" method="post">
                    <input class="form-control" type="text" name="str" placeholder="Type to search goods...">
                    <i class="lni-search"></i>
                </form>
            </li>
            <li class="user-profile dropdown dropdown-animated scale-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="profile-img img-fluid" src="/admin/assets/img/profile/user1.jpg" alt="">
                </a>
                <ul class="dropdown-menu dropdown-md">
                    <li>
                        <ul class="list-media">
                            <li class="list-item avatar-info">
                                <div class="media-img">
                                    <img src="/admin/assets/img/profile/user1.jpg" alt="">
                                </div>
                                <div class="info">
                                    <c:if test="${! empty cur_user}">
                                        <span class="title text-semibold">${cur_user.username}</span>
                                        <span class="sub-title">User</span>
                                    </c:if>
                                    <c:if test="${empty cur_user}">
                                        <span class="title text-semibold">Tourist</span>
                                        <span class="sub-title">Common一Tourist</span>
                                    </c:if>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li role="separator" class="divider"></li>
                    <c:if test="${! empty cur_user}">
                        <li>
                            <a href="/admin/user/basic">
                                <i class="lni-user"></i>
                                <span>Personal Center</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user/allFocus">
                                <i class="lni-heart"></i>
                                <span>My Concerns</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user/logout">
                                <i class="lni-exit"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </c:if>
                    <c:if test="${empty cur_user}">
                        <li>
                            <a href="/admin/user/login">
                                <i class="lni-enter"></i>
                                <span>Log in</span>
                            </a>
                        </li>
                    </c:if>
                </ul>
            </li>
        </ul>
    </div>
</div>