<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head th:replace="common/head::head"></head>
<body>
<div class="app header-default side-nav-dark">
    <div class="layout">
        <div th:replace="common/head-nav::head-nav"></div>

        <div th:replace="common/side-nav::side-nav"></div>

        <div class="page-container">

            <div class="main-content">
                <div class="container-fluid">
                    <div class="breadcrumb-wrapper row">
                        <div class="col-12 col-lg-3 col-md-6">
                            <h4 class="page-title">反馈列表</h4>
                        </div>
                        <div class="col-12 col-lg-9 col-md-6">
                            <ol class="breadcrumb float-right">
                                <li><a href="/admin/feedback">反馈管理</a></li>
                                <li class="active"> / 反馈列表</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">反馈列表</h4>
                                </div>
                                <div class="alert-box">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                         th:unless="${#strings.isEmpty(error)}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>糟糕!</strong>
                                        <p>修改失败!</p>
                                    </div>
                                </div>
                                <div class="alert-box">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                                         th:unless="${#strings.isEmpty(success)}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>修改成功！</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="datatable_wrapper"
                                             class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datatable"
                                                           class="table table-bordered dataTable no-footer" role="grid"
                                                           aria-describedby="datatable_info">
                                                        <thead>
                                                        <tr role="row">
                                                            <th>ID</th>
                                                            <th>内容</th>
                                                            <th>是否处理</th>
                                                            <th>创建时间</th>
                                                            <th>操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr role="row" th:each="feedback:${feedbacks}">
                                                            <td th:text="${feedback.getId()}">
                                                                #ODN84952
                                                            </td>
                                                            <td th:text="${feedback.getContent()}">John Doe</td>
                                                            <td th:switch="${feedback.getIsRead()}">
                                                                <p th:case="0" class="badge badge-danger">未读</p>
                                                                <p th:case="1" class="badge badge-success">已读</p>
                                                            </td>
                                                            <td th:text="${feedback.getCreateTime()}">25/07/2018</td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <a href="javascript: void(0);"
                                                                       class="dropdown-toggle arrow-none btn btn-light btn-sm"
                                                                       data-toggle="dropdown" aria-expanded="false"><i
                                                                            class="lni-more-alt"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item"
                                                                           th:href="${'/admin/feedback/details/'+feedback.getId()}"><i
                                                                                class="lni-comments-alt mr-2 text-muted"></i>查看详情</a>
                                                                        <a class="dropdown-item" th:if="${feedback.getIsRead()==0}"
                                                                           th:href="${'/admin/feedback/modify/'+feedback.getId()}"><i
                                                                                class="lni-check-mark-circle mr-2 text-muted"></i>标记已读</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">


                </div>
            </div>


            <footer th:replace="common/footer::footer">
            </footer>

        </div>

    </div>
</div>

<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<script th:src="@{/static/admin/assets/js/jquery-min.js}"></script>
<script th:src="@{/static/admin/assets/js/popper.min.js}"></script>
<script th:src="@{/static/admin/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/admin/assets/js/jquery.app.js}"></script>
<script th:src="@{/static/admin/assets/js/main.js}"></script>

<script th:src="@{/static/admin/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{/static/admin/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/buttons.colVis.min.js}"></script>

<script th:src="@{/static/admin/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/static/admin/assets/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script th:src="@{/static/admin/assets/js/datatables.init.js}"></script>

</body>
</html>